
textarea{
  width: 700px;
  height: 80px;
  resize: none;

}
button{
  width: 100px;
  height: 30px;
  background-color: rgb(49, 10, 54);
  border: none;
  color: rgb(255, 206, 67);
  font-family: arial;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 50px;

}
.comment-box{
  width: 650px;
  padding: 20px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: #ddd;
  position: relative;
}

.comment-box p{
  font-family: arial;
  font-size: 16px;
  line-height: 16px;
  color: #282828;


}
.edit-btn{
  position: absolute;
  top: 0px;
  right: 0px;

}
.edit-btn button{
  width: 40px;
  height: 20px;
  color: #282828;
  background-color: #fff;
  opacity: 0.7;

}
.edit-btn button:hover{

  opacity: 1;

}

.delete-btn{
  position: absolute;
  top: 0px;
  right: 80px;

}
.delete-btn button{
  width: 60px;
  height: 20px;
  color: #282828;
  background-color: #fff;
  opacity: .7;

}
.delete-btn button:hover{

  opacity: 1;

}
